.annotation {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.annotationMsg {
  width: 90%;
  margin-left: 10px;
  overflow: hidden;
}

.deleteButtonSpan {
  margin-left: auto;
  margin-right: 10px;
}
