@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ts-btn {
    background-color: #fffcd2;
    border-radius: 3px;
    border: none;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: fit-content;
}
.ts-btn:hover {
    color: #ffffff;
    background: #ff4f0a;
}