.deleteButton {
  background-color: crimson;
  border-radius: 3px;
  border: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.deleteButton:hover {
  background-color: #c32b2b;
  cursor: pointer;
}
