.deleteButton {
  background-color: rgb(227,38,54);
  border-radius: 3px;
  border: none;
  margin-left: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.deleteButton:hover {
  background-color: #c32b2b;
  cursor: pointer;
}
