.notesContainer {
  width: 48%;
  margin: 10px 10px;
  margin-left: 80px;
  border: 2px black solid;
  height: 190px;
}

.notes {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
}

.text {
  margin: 2px 10px;
  margin-top: 8px;
  font-size: 13px;
  width: 96%;
  height: 150px;
  /*overflow-y: scroll;*/
}