#upper {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: auto min-content;
  grid-gap: 10px;
  width: 100%;
  height: fit-content;
  float: left;
}

#title {
  font-family: Noto Sans, sans-serif;
  font-size: 23px;
  font-style: oblique;
  font-weight: 500;
  margin-left: 35px;
  margin-top: 15px;
}

#lower {
  float: left;
  width: 100%;
  height: 230px;
}