#videoInfo {
  float: left;
  width: 400px;
  height: 150px;
}

#img {
  float: left;
  width: 210px;
  height: 150px;
  border: 1px solid black;
}

h2 {
  margin-left: 20px;
  display: inline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

#name:hover {
  cursor: pointer;
}

#videoDiv:hover {
  cursor: pointer;
}

#description {
  margin-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}